h1{
    margin-top: 20px;
    margin-bottom: 10px;
}


body {
    background-color: #c7011a;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.37em;
}

div#travailOuPauseAffichage {
    font-size: 1.6rem;
    border: solid black .25rem;
    border-radius: 5rem;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    box-shadow: 0px 0px 0.08em 0.05em rgba(0, 0, 0, 0.483);
}

span#travailTexte {
    color: white;
    text-shadow: 0px 0px 10px black;
}

div#form {
    margin-top: 10px;
    font-size: 1.1em;
}

input#tpsTravailEntree, input#tpsPauseEntree {
    border: solid black .11em;
    background-color: #c7011a;
    font-size: 1em;
    font-weight: bold;
}

div#horloge {
    text-align: center;
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
    border: solid black .5rem ;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: 220%;
    box-shadow: 0px 0px 0.08em 0.05em rgba(0, 0, 0, 0.483);
}

span#tempsAffichage {
    display: block;
    text-align: center;
    padding-top: 32%;
}

button#boutonDebut {
    border: none;
    font-size: 0.9em;
    border-radius: 50%;
    padding: 1em;
}

button#boutonDebut:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    background-color: black;
    width: 100%;
    margin-left: -8px;
    height: 45px;
    bottom: 0;
    color: white;
    font-size: 0.7em;
}

span#footerTexte {
    position: relative;
}
